<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
									  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- service -->
	<!-- 题库管理 服务接口实现 begin-->
	<!-- 来源服务 -->
	<bean id="sourceService" class="com.examw.test.service.library.impl.SourceServiceImpl">
		<!-- 来源数据接口 -->
		<property name="sourceDao" ref="sourceDao" />
	</bean>
	<!-- 试卷服务 -->
	<bean id="paperService" class="com.examw.test.service.library.impl.PaperServiceImpl">
		<!-- 试卷数据接口 -->
		<property name="paperDao" ref="paperDao" />
		<!-- 来源数据接口 -->
		<property name="sourceDao" ref="sourceDao" />
		<!-- 考试科目数据接口 -->
		<property name="subjectDao" ref="subjectDao" />
		<!-- 所属地区数据接口 -->
		<property name="areaDao" ref="areaDao" />
		<!-- 试卷类型 -->
		<property name="typeMap">
		    <map>
		        <entry key="1" value="历年真题" />
				<entry key="2" value="模拟试题" />
				<entry key="3" value="预测试题" />
				<entry key="4" value="练习题" />
				<entry key="5" value="章节练习" />
				<entry key="6" value="每日一练" />
		    </map>
		</property>
		<!-- 试卷状态 -->
		<property name="statusMap">
			<map>
				<entry key="0" value="未审核"/>
				<entry key="1" value="已审核"/>
				<entry key="2" value="已发布"/>
			</map>
		</property>
	</bean>
	<!-- 试卷结构服务 -->
	<bean id="paperStructureService" class="com.examw.test.service.library.impl.PaperStructureServiceImpl">
	    <!-- 试卷结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 试卷数据接口 -->
	    <property name="paperDao" ref="paperDao" />
	    <!-- 试题服务接口 -->
	    <property name="itemService" ref="itemService" />
	</bean>
	<!-- 试卷试题服务 -->
	<bean id="paperItemService" class="com.examw.test.service.library.impl.PaperItemServiceImpl">
	    <!-- 试卷结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 试题服务接口 -->
	    <property name="itemService" ref="itemService" />
	</bean>
	<!-- 题目服务 -->
	<bean id="itemService" class="com.examw.test.service.library.impl.ItemServiceImpl">
		<!-- 题目数据接口 -->
		<property name="itemDao" ref="itemDao" />
		<!-- 所属考试科目数据接口 -->
		<property name="subjectDao" ref="subjectDao" />
		<!-- 来源数据接口 -->
		<property name="sourceDao" ref="sourceDao" />
		<!-- 所属地区数据接口 -->
		<property name="areaDao" ref="areaDao" />
		<!-- 校验码生成接口 -->
		<property name="itemDuplicateCheck">
		    <bean class="com.examw.test.service.library.impl.ItemDuplicateCheckImpl" />
		</property>
		<!-- 题型数据接口 -->
		<property name="itemParsers">
		    <map>
		        <entry key="1"><!-- 单选题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultItemParser">
			            <constructor-arg value="单选" />
			            <property name="itemDao" ref="itemDao" />
			        </bean>
			    </entry>
			    <entry key="2"><!-- 多选题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultItemParser">
			            <constructor-arg value="多选" />
			            <property name="itemDao" ref="itemDao" />
			        </bean>
			    </entry>
			    <entry key="3"><!-- 不定向选题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultItemParser">
			            <constructor-arg value="不定向选" />
			            <property name="itemDao" ref="itemDao" />
			        </bean>
			    </entry>
			    <entry key="4"><!-- 判断题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultItemParser">
			            <constructor-arg value="判断题" />
			            <property name="itemDao" ref="itemDao" />
			        </bean>
			    </entry>
			    <entry key="5"><!-- 问答题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultItemParser">
			            <constructor-arg value="问答题" />
			            <property name="itemDao" ref="itemDao" />
			        </bean>
			    </entry>
			    <entry key="6"><!-- 共享题干题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultShareTitleItemParser">
			            <constructor-arg value="共享题干题" />
			            <property name="itemDao" ref="itemDao" />
			            <property name="itemService" ref="itemService" />
			        </bean>
			    </entry>
			    <entry key="7"><!-- 共享答案题 -->
			        <bean class="com.examw.test.service.library.impl.DefaultShareAnswerItemParser">
			            <constructor-arg value="共享答案题" />
			            <property name="itemDao" ref="itemDao" />
			            <property name="itemService" ref="itemService" />
			        </bean>
			    </entry>
		    </map>
		</property>
		<!-- 题目状态 -->
		<property name="statusMap">
			<map>
				<entry key="0" value="未审核" />
				<entry key="1" value="已审核" />
			</map>
		</property>
		<!-- 判断题答案名称 -->
		<property name="judgeAnswerMap">
			<map>
				<entry key="1" value="正确" />
				<entry key="0" value="错误" />
			</map>
		</property>
		<!-- 试卷服务接口 -->
		<property name="paperService" ref="paperService" />
	</bean>
	<!-- 随机选题服务接口 -->
	<bean id="randomItemService" class="com.examw.test.service.library.impl.RandomItemServiceImpl">
	    <!-- 试卷数据接口 -->
	    <property name="paperDao" ref="paperDao" />
	    <!-- 试卷结构数据接口 -->
	    <property name="structureDao"  ref="structureDao" />
	    <!-- 试题数据接口 -->
	    <property name="itemDao" ref="itemDao" />
	</bean>
	<!-- 每日一练服务接口 -->
	<bean id="exercisesDailyService" class="com.examw.test.service.library.impl.ExercisesDailyServiceImpl">
	    <!-- 试题数据接口 -->
	    <property name="itemDao" ref="itemDao" />
	    <!-- 试卷数据接口 -->
	    <property name="paperDao" ref="paperDao" />
	    <!--考试科目数据接口 -->
	    <property name="subjectDao" ref="subjectDao" />
	    <!-- 试题服务接口 -->
	    <property name="itemService" ref="itemService" />
	    <!-- 随机选题服务接口 -->
	    <property name="randomItemService" ref="randomItemService" />
	    <!-- 每个题型的题量设置 -->
	    <property name="avgStructureItemsCount" value="${avg_structure_items_count}" />
	</bean>
	<!-- 试卷预览服务 -->
	<bean id="paperPreviewService" class="com.examw.test.service.library.impl.PaperPreviewServiceImpl">
	    <!-- 试卷结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 试卷服务接口 -->
	    <property name="paperService" ref="paperService" />
	    <!-- 试卷结构服务接口 -->
	    <property name="paperStructureService" ref="paperStructureService" />
	    <!-- 试卷试题服务接口 -->
	    <property name="paperItemService" ref="paperItemService" />
	</bean>
	<!-- 试卷发布服务 -->
	<bean id="paperReleaseService" class="com.examw.test.service.library.impl.PaperReleaseServiceImpl">
	    <!-- 试卷发布数据接口 -->
	    <property name="paperReleaseDao" ref="paperReleaseDao" />
	    <!-- 试卷数据接口 -->
	    <property name="paperDao" ref="paperDao" />
	    <!-- 试卷预览服务接口 -->
	    <property name="paperPreviewService" ref="paperPreviewService" />
	</bean>
	<!-- 前端试卷服务 -->
	<bean id="frontPaperService" class="com.examw.test.service.library.impl.FrontPaperServiceImpl">
	    <!-- 试卷发布数据接口 -->
	    <property name="paperReleaseDao" ref="paperReleaseDao" />
		<!-- 产品数据接口 -->
		<property name="productDao" ref="productDao"/>
		<!-- 试卷服务接口 -->
		<property name="paperService" ref="paperService"/>
		<!-- 用户试卷记录服务接口 -->
		<property name="userPaperRecordService" ref="userPaperRecordService"/>
	</bean>
	<!-- 题库管理 服务接口实现 end-->
</beans>
