<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 产品管理 服务接口实现 begin -->
	<!-- 渠道服务 -->
	<bean id="channelService" class="com.examw.test.service.products.impl.ChannelServiceImpl">
		<!-- 渠道数据操作接口 -->
		<property name="channelDao" ref="channelDao" />
	</bean>
	<!-- 软件类型服务 -->
	<bean id="softwareTypeService" class="com.examw.test.service.products.impl.SoftwareTypeServiceImpl">
		<!-- 软件类型数据操作接口 -->
		<property name="softwareTypeDao" ref="softwareTypeDao" />
	</bean>
	<!-- 产品用户服务 -->
	<bean id="productUserService" class="com.examw.test.service.products.impl.ProductUserServiceImpl">
		<!-- 产品用户数据操作接口 -->
		<property name="productUserDao" ref="productUserDao" />
		<property name="statusMap">
		    <map>
		        <entry key="0" value="禁用"/>
		        <entry key="1" value="启用"/>
		        <entry key="-1" value="删除"/>
		    </map>
		</property>
	</bean>
	<!-- 产品服务 -->
	<bean id="productService" class="com.examw.test.service.products.impl.ProductServiceImpl">
		<!-- 产品数据操作接口 -->
		<property name="productDao" ref="productDao" />
		<!-- 考试数据操作接口 -->
		<property name="examDao" ref="examDao" />
		<!-- 科目数据操作接口 -->
		<property name="subjectDao" ref="subjectDao" />
	</bean>
	<!-- 产品管理  服务接口实现 end -->
</beans>