<?xml version="1.0" encoding="UTF-8"?>
<ehcache name="hibernate-ehcache" updateCheck="false">
	<diskStore path="D:/ehcache/examw-test" />
	<!-- 默认配置 -->
	<defaultCache 
	    maxElementsInMemory="5"  
	    maxElementsOnDisk="500"  
	    eternal="false" 
	    overflowToDisk="true" 
	    timeToIdleSeconds="300"
	    timeToLiveSeconds="600" />
	
	<!-- api缓存 -->
	<cache name="apiCache" 
	    maxElementsInMemory="200" 
	    maxElementsOnDisk="10000" 
	    eternal="false" 
	    overflowToDisk="true"
	    timeToIdleSeconds="36000" 
	    timeToLiveSeconds="86400"/>
	
</ehcache>