<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 用户试卷记录服务 -->
	<bean id="userPaperRecordService" class="com.examw.test.service.records.impl.UserPaperRecordServiceImpl">
	    <!-- 用户试卷记录数据接口 -->
	    <property name="userPaperRecordDao" ref="userPaperRecordDao" />
	    <!-- 产品用户数据接口 -->
	    <property name="productUserDao" ref="productUserDao" />
	    <!-- 试卷数据接口 -->
	    <property name="paperDao" ref="paperDao" />
	    <!-- 产品数据接口 -->
	    <property name="productDao" ref="productDao" />
	    <!-- 终端类型数据接口 -->
	    <property name="softwareTypeDao" ref="softwareTypeDao" />
	    <!-- 用户试题记录服务接口 -->
	    <property name="userItemRecordService" ref="userItemRecordService" />
	</bean>
	<!-- 用户试题记录服务 -->
	<bean id="userItemRecordService" class="com.examw.test.service.records.impl.UserItemRecordServiceImpl">
	    <!-- 用户试题记录数据接口 -->
	    <property name="userItemRecordDao" ref="userItemRecordDao" />
	    <!-- 用户试卷记录数据接口 -->
	    <property name="userPaperRecordDao" ref="userPaperRecordDao" />
	    <!-- 试卷结构数据接口 -->
	    <property name="structureDao" ref="structureDao" />
	    <!-- 终端类型数据接口 -->
	    <property name="softwareTypeDao" ref="softwareTypeDao" />
	</bean>
	<!-- 用户试题收藏服务 -->
	<bean id="userItemFavoriteService" class="com.examw.test.service.records.impl.UserItemFavoriteServiceImpl">
	    <!-- 用户试题收藏数据接口 -->
	    <property name="userItemFavoriteDao" ref="userItemFavoriteDao" />
	    <!-- 产品用户数据接口 -->
	    <property name="productUserDao" ref="productUserDao" />
	    <!-- 考试科目数据接口 -->
	    <property name="subjectDao" ref="subjectDao" />
	    <!-- 终端类型数据接口 -->
	    <property name="softwareTypeDao" ref="softwareTypeDao" />
	</bean>
</beans>