<?xml version="1.0" encoding="UTF-8"?>
<ehcache name="hibernate-ehcache" updateCheck="false">
	<diskStore path="D:/ehcache/examw-test" />
	<!-- 默认配置 -->
	<defaultCache maxElementsInMemory="500"  maxElementsOnDisk="2000"  eternal="false" overflowToDisk="true" timeToIdleSeconds="300" timeToLiveSeconds="600" />
	<!-- hibernate缓存 -->
	<cache name="hibernateCache" maxElementsInMemory="500"  maxElementsOnDisk="2000"  eternal="false" overflowToDisk="true" timeToIdleSeconds="300" timeToLiveSeconds="600" />
</ehcache>