<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 出版社Dao -->
	<bean id="pressDao" class="com.examw.test.dao.syllabus.impl.PressDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 大纲Dao -->
	<bean id="syllabusDao" class="com.examw.test.dao.syllabus.impl.SyllabusDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>