<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!--  考试记录   数据接口实现 begin -->
	<!-- 试卷记录数据接口 -->
	<bean id="paperRecordDao" class="com.examw.test.dao.records.impl.PaperRecordDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 做题记录数据接口 -->
	<bean id="itemRecordDao" class="com.examw.test.dao.records.impl.ItemRecordDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 错题记录数据接口 -->
	<bean id="errorItemRecordDao" class="com.examw.test.dao.records.impl.ErrorItemRecordDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试题收藏试题 -->
	<bean id="collectionDao" class="com.examw.test.dao.records.impl.CollectionDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 笔记数据接口 -->
	<bean id="noteDao" class="com.examw.test.dao.records.impl.NoteDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试记录   数据接口实现 end -->
</beans>