<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!--  用户记录   数据接口实现 begin -->
	
	<!-- 用户试卷记录数据接口 -->
	<bean id="userPaperRecordDao" class="com.examw.test.dao.records.impl.UserPaperRecordDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 用户试题记录数据接口 -->
	<bean id="userItemRecordDao" class="com.examw.test.dao.records.impl.UserItemRecordDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 用户试题收藏数据接口 -->
	<bean id="userItemFavoriteDao" class="com.examw.test.dao.records.impl.UserItemFavoriteDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 常用问题数据接口 -->
	<bean id="questionDao" class="com.examw.test.dao.records.impl.QuestionDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	
	<!-- 用户记录   数据接口实现 end -->
</beans>