<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 附件管理 数据接口实现 -->
	<!-- 附件数据接口 -->
	<bean id="attachmentDao" class="com.examw.test.dao.impl.AttachmentDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 附件存储数据接口 -->
	<bean id="attachmentStorageDao" class="com.examw.test.dao.impl.AttachmentStorageDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	
	<!-- 系统管理 数据接口实现 -->
	<import resource="spring-examw-test-dao-security.xml"/>
	<!-- 基础设置数据接口实现 -->
	<import resource="spring-examw-test-dao-settings.xml"/>	
	<!-- 题库管理 数据接口实现 -->
	<import resource="spring-examw-test-dao-library.xml"/>
	<!-- 考试大纲 数据接口实现 -->
	<import resource="spring-examw-test-dao-syllabus.xml"/>
	<!-- 产品管理 数据接口实现 -->
	<import resource="spring-examw-test-dao-products.xml"/>
	<!-- 考试记录 数据接口实现 -->
	<import resource="spring-examw-test-dao-records.xml"/>
	<!-- 发布管理 数据接口实现 -->
	<import resource="spring-examw-test-dao-publish.xml"/>
</beans>