<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 产品管理 服务接口实现 begin -->
	<!-- 产品服务 -->
	<bean id="productService" class="com.examw.test.service.products.impl.ProductServiceImpl">
		<!-- 产品数据操作接口 -->
		<property name="productDao" ref="productDao" />
		<!-- 考试数据操作接口 -->
		<property name="examDao" ref="examDao" />
		<!-- 科目数据操作接口 -->
		<property name="subjectDao" ref="subjectDao" />
		<!-- 地区数据操作接口 -->
		<property name="areaDao" ref="areaDao" />
		<!-- 试卷数据接口 -->
		<property name="paperDao" ref="paperDao" />
		<!-- 试题数据接口 -->
		<property name="itemDao" ref="itemDao" />
		<!-- 状态值名称映射 -->
		<property name="statusMap">
		    <map>
		         <entry key="0" value="${STATUS_DISABLE}"/>
		        <entry key="1" value="${STATUS_ENABLED}"/>
		    </map>
		</property>
		<!-- 产品答案解析类型值名称集合 -->
		<property name="analysisTypeMap">
		    <map>
		        <entry key="0" value="${product_analysis_type_none}" />
		        <entry key="1" value="${product_analysis_type_part}" />
		        <entry key="2" value="${product_analysis_type_all}" />
		    </map>
		</property>
		<!-- 产品真题类型值名称集合 -->
		<property name="realTypeMap">
		    <map>
		        <entry key="0" value="${product_real_type_none}" />
		        <entry key="1" value="${product_real_type_exist}" />
		    </map>
		</property>
	</bean>
	<!-- 渠道服务 -->
	<bean id="channelService" class="com.examw.test.service.products.impl.ChannelServiceImpl">
		<!-- 渠道数据操作接口 -->
		<property name="channelDao" ref="channelDao" />
	</bean>
	<!-- 软件类型服务 -->
	<bean id="softwareTypeService" class="com.examw.test.service.products.impl.SoftwareTypeServiceImpl">
		<!-- 软件类型数据操作接口 -->
		<property name="softwareTypeDao" ref="softwareTypeDao" />
	</bean>
	<!-- 产品用户服务 -->
	<bean id="productUserService" class="com.examw.test.service.products.impl.ProductUserServiceImpl">
		<!-- 产品用户数据操作接口 -->
		<property name="productUserDao" ref="productUserDao" />
		<!-- 状态-名称映射 -->
		<property name="statusMap">
		    <map>
		        <entry key="0" value="${STATUS_DISABLE}"/>
		        <entry key="1" value="${STATUS_ENABLED}"/>
		    </map>
		</property>
	</bean>
	<!-- 产品前端服务 -->
	<bean id="frontProductService" class="com.examw.test.service.products.impl.FrontProductServiceImpl">
	    <!-- 产品服务接口 -->
	    <property name="productService" ref="productService" />
	    <!-- 考试科目服务接口 -->
	    <property name="subjectService" ref="subjectService" />
	    <!-- 地区服务接口 -->
	    <property name="areaService" ref="areaService" />
	    <!-- 前端试卷服务 -->
	    <property name="frontPaperService" ref="frontPaperService" />
	</bean>
	<!-- 产品软件服务 -->
	<bean id="softwareService" class="com.examw.test.service.products.impl.SoftwareServiceImpl">
		<!-- 产品软件数据操作接口 -->
		<property name="softwareDao" ref="softwareDao" />
		<!-- 产品数据操作接口 -->
		<property name="productDao" ref="productDao" />
		<!-- 渠道数据操作接口 -->
		<property name="channelDao" ref="channelDao" />
		<!-- 软件类型数据操作接口 -->
		<property name="softwareTypeDao" ref="softwareTypeDao" />
		<!-- 状态-名称映射 -->
		<property name="statusMap">
		    <map>
		         <entry key="0" value="${STATUS_DISABLE}"/>
		        <entry key="1" value="${STATUS_ENABLED}"/>
		    </map>
		</property>
	</bean>
	<!-- 注册码服务 -->
	<bean id="registrationService" class="com.examw.test.service.products.impl.RegistrationServiceImpl">
		<!-- 注册码数据操作接口 -->
		<property name="registrationDao" ref="registrationDao" />
		<!-- 产品数据操作接口 -->
		<property name="productDao" ref="productDao" />
		<!-- 软件类型数据操作接口 -->
		<property name="softwareTypeDao" ref="softwareTypeDao" />
		<!-- 渠道数据操作接口 -->
		<property name="channelDao" ref="channelDao" />
		<!-- 状态-名称映射 -->
		<property name="statusMap">
		    <map>
		        <entry key="0" value="未激活"/>
		        <entry key="1" value="激活"/>
		        <entry key="-1" value="停用"/>
		        <entry key="-2" value="注销"/>
		    </map>
		</property>
	</bean>
	<!-- 注册码日志服务 -->
	<bean id="registrationLogService" class="com.examw.test.service.products.impl.RegistrationLogServiceImpl">
		<!-- 注册码数据操作接口 -->
		<property name="registrationLogDao" ref="registrationLogDao" />
		<!-- 状态-名称映射 -->
		<property name="typeMap">
		    <map>
		        <entry key="1" value="绑定注册码"/>
		        <entry key="2" value="更新数据"/>
		        <entry key="3" value="软件升级"/>
		    </map>
		</property>
	</bean>
	<!-- 注册码绑定记录服务 -->
	<bean id="registrationBindRecordService" class="com.examw.test.service.products.impl.RegistrationBindRecordServiceImpl">
		<!-- 软件类型数据操作接口 -->
		<property name="registrationBindRecordDao" ref="registrationBindRecordDao" />
	</bean>
	<!-- 产品管理  服务接口实现 end -->
</beans>