<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	
	<!-- 产品管理 数据接口实现 begin -->
	<!-- 渠道Dao -->
	<bean id="channelDao"  class="com.examw.test.dao.products.impl.ChannelDaoImpl">
	  <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 软件类型分类Dao -->
	<bean id="softwareTypeDao" class="com.examw.test.dao.products.impl.SoftwareTypeDaoImpl">
	  <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 产品用户Dao -->
	<bean id="productUserDao"  class="com.examw.test.dao.products.impl.ProductUserDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 产品Dao -->
	<bean id="productDao"  class="com.examw.test.dao.products.impl.ProductDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 产品软件Dao -->
	<bean id="softwareDao"  class="com.examw.test.dao.products.impl.SoftwareDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 注册码Dao -->
	<bean id="registrationDao"  class="com.examw.test.dao.products.impl.RegistrationDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 注册码日志Dao -->
	<bean id="registrationLogDao"  class="com.examw.test.dao.products.impl.RegistrationLogDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 注册码绑定记录Dao -->
	<bean id="registrationBindRecordDao"  class="com.examw.test.dao.products.impl.RegistrationBindRecordDaoImpl">
	   <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
<!-- 产品管理  数据接口实现end -->
</beans>