<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!-- 系统管理 服务接口实现-->
	<import resource="spring-examw-test-service-security.xml"/>
	<!-- 基础设置 服务接口实现 -->
	<import resource="spring-examw-test-service-settings.xml"/>
	<!-- 题库管理 服务接口实现 -->
	<import resource="spring-examw-test-service-library.xml"/>
	<!-- 考试大纲 服务接口实现 -->
	<import resource="spring-examw-test-service-syllabus.xml"/>
	<!-- 产品管理 服务接口实现 [必须在library之下]-->
	<import resource="spring-examw-test-service-products.xml"/>
	<!-- 考试记录 服务接口实现 -->
	<import resource="spring-examw-test-service-records.xml"/>
	<!-- 文件上传服务 -->
	<bean id="fileUploadService" class="com.examw.test.service.impl.FileUploadServiceImpl">
	    <!-- 临时存储目录 -->
		<property name="tempStoragePath" value="${uploadFolder}" />
		<!-- 附件数据接口 -->
		<property name="attachmentDao" ref="attachmentDao" />
		<!-- 附件存储数据接口 -->
		<property name="attachmentStorageDao" ref="attachmentStorageDao"/>
	</bean>
</beans>
