<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!--  题库管理  数据接口实现 begin -->
	<!-- 来源数据接口 -->
	<bean id="sourceDao" class="com.examw.test.dao.library.impl.SourceDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试卷数据接口 -->
	<bean id="paperDao" class="com.examw.test.dao.library.impl.PaperDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试卷结构数据接口 -->
	<bean id="structureDao" class="com.examw.test.dao.library.impl.StructureDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试卷结构下试题 -->
	<bean id="structureItemDao" class="com.examw.test.dao.library.impl.StructureItemDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 题目数据接口 -->
	<bean id="itemDao" class="com.examw.test.dao.library.impl.ItemDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 试卷发布 -->
	<bean id="paperReleaseDao" class="com.examw.test.dao.library.impl.PaperReleaseDaoImpl">
	    <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!--  题库管理  数据接口实现 end -->
</beans>