<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
									 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- 发布管理 服务接口实现 -->
	<!-- 发布配置服务接口 -->
    <bean id="configurationService" class="com.examw.test.service.publish.impl.ConfigurationServiceImpl">
        <!-- 发布配置数据接口 -->
        <property name="configurationDao" ref="configurationDao" />
        <!-- 状态值名称集合 -->
        <property name="statusMap">
            <map>
                 <entry key="0" value="${STATUS_DISABLE}" />
		         <entry key="1" value="${STATUS_ENABLED}" />
            </map>
        </property>
        <!-- 模版值名称集合 -->
        <property name="templateMap">
            <map>
                <entry key="0x0000" value=" " />
                <entry key="0x0001" value="${publish_templates_index_name}" />
                <entry key="0x0002" value="${publish_templates_exam_name}" />
                <entry key="0x0004" value="${publish_templates_product_name}" />
                <entry key="0x0008" value="${publish_templates_paper_list_name}" />
                <entry key="0x0010" value="${publish_templates_paper_detail_name}" />
                <entry key="0x0020" value="${publish_templates_question_list_name}" />
                <entry key="0x0040" value="${publish_templates_question_detail_name}" />
                <entry key="0x0080" value="${publish_templates_paper_news_name}" />
                <entry key="0x0100" value="${publish_templates_paper_hots_name}" />
            </map>
        </property>
    </bean>
    <!-- 发布记录服务接口 -->
    <bean id="publishRecordService" class="com.examw.test.service.publish.impl.PublishRecordServiceImpl">
        <!-- 发布记录数据接口 -->
        <property name="publishRecordDao" ref="publishRecordDao" />
        <!-- 发布配置数据接口 -->
        <property name="configurationDao" ref="configurationDao" />
        <!-- 状态值名称集合 -->
        <property name="statusMap">
            <map>
                 <entry key="0" value="发布失败" />
		         <entry key="1" value="发布成功" />
            </map>
        </property>
    </bean>
    <!-- 静态页面服务接口 -->
    <bean id="staticPageService" class="com.examw.test.service.publish.impl.StaticPageServiceImpl">
        <!-- 静态页面数据接口 -->
        <property name="staticPageDao" ref="staticPageDao" />
        <!-- 发布记录数据接口 -->
        <property name="publishRecordDao" ref="publishRecordDao" />
    </bean>
    <!-- 发布服务接口  -->
    <bean id="publishService" class="com.examw.test.service.publish.impl.PublishServiceImpl">
        <!-- 发布配置数据接口 -->
        <property name="configurationDao" ref="configurationDao" />
        <!-- 发布记录数据接口 -->
        <property name="publishRecordDao" ref="publishRecordDao" />
        <!--  模版处理配置集合 -->
        <property name="processes">
            <map>
                <entry key="0x0001"><!-- 首页模版处理 -->
                    <ref local="indexTemplateProcess"/>
                </entry>
                <entry key="0x0002"><!-- 考试页面模版处理 -->
                    <ref local="examTemplateProcess"/>
                </entry>
                <entry key="0x0004"><!-- 产品页面模版处理 -->
                    <ref local="productTemplateProcess"/>
                </entry>
                <entry key="0x0008"><!-- 试卷列表页面模版处理 -->
                    <ref local="paperListTemplateProcess"/>
                </entry>
                <entry key="0x0010"><!-- 试卷详情页面模版处理 -->
                    <ref local="paperDetailTemplateProcess"/>
                </entry>
                <entry key="0x0020"><!--常见问题列表页面模版处理 -->
                    <ref local="questionListTemplateProcess"/>
                </entry>
                <entry key="0x0040"><!--常见问题详细页面模版处理 -->
                    <ref local="questionDetailTemplateProcess"/>
                </entry>
                <entry key="0x0080"><!-- 最新试卷列表页面模版处理 -->
                    <ref local="newsPaperTemplateProcess" />
                </entry>
                <entry key="0x0100"><!-- 最热试卷列表页面模版处理 -->
                    <ref local="hotsPaperTemplateProcess"/>
                </entry>
            </map>
        </property>
        <!-- 远程调用生成页面的地址 -->
        <property name="remoteCreatePagesUrl" value="${remote_create_pages_url}"></property>
    </bean>
    <!-- 模版处理器抽象类 -->
    <bean id="templateProcess" abstract="true" class="com.examw.test.service.publish.impl.BaseTemplateProcess">
        <!-- 模版根目录 -->
        <property name="templatesRoot" value="${publish_templates_dir}" />
        <!-- 试卷发布数据接口 -->
        <property name="paperReleaseDao" ref="paperReleaseDao" />
        <!-- 用户试卷记录数据接口 -->
        <property name="userPaperRecordDao" ref="userPaperRecordDao" />
        <!-- 常用问题数据接口 -->
        <property name="questionDao" ref="questionDao" />
        <!-- 静态页面数据接口 -->
        <property name="staticPageDao" ref="staticPageDao" />
    </bean>
    <!-- 首页模版处理器 -->
    <bean id="indexTemplateProcess" class="com.examw.test.service.publish.impl.IndexTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_index}" />
        <!-- 考试类别数据接口 -->
        <property name="categoryDao" ref="categoryDao" />
    </bean>
    <!-- 考试模版处理器 -->
    <bean id="examTemplateProcess" class="com.examw.test.service.publish.impl.ExamTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_exam}" />
        <!-- 考试数据接口 -->
        <property name="examDao" ref="examDao" />
    </bean>
    <!-- 产品模版处理器 -->
    <bean id="productTemplateProcess" class="com.examw.test.service.publish.impl.ProductTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_product}" />
        <!-- 产品数据接口 -->
        <property name="productDao" ref="productDao" />
        <!-- 产品服务接口 -->
        <property name="productService" ref="productService" />
    </bean>
    <!-- 试卷列表模版处理器 -->
    <bean id="paperListTemplateProcess" class="com.examw.test.service.publish.impl.PaperListTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_paper_list}" />
        <!-- 考试数据接口 -->
        <property name="examDao" ref="examDao" />
    </bean>
    <!-- 试卷详细模版处理器 -->
    <bean id="paperDetailTemplateProcess" class="com.examw.test.service.publish.impl.PaperDetailTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_paper_detail}" />
        <!-- 产品数据接口 -->
        <property name="productDao" ref="productDao" />
        <!-- 试卷服务接口 -->
        <property name="paperService" ref="paperService" />
    </bean>
    <!-- 常见问题列表模版处理器 -->
    <bean id="questionListTemplateProcess" class="com.examw.test.service.publish.impl.QuestionListTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_question_list}" />
    </bean>
    <!-- 常见问题详细模版处理器 -->
    <bean id="questionDetailTemplateProcess" class="com.examw.test.service.publish.impl.QuestionDetailTemplateProcess" parent="templateProcess">
         <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_question_detail}" />
    </bean>
    <!-- 最新试卷列表模版处理 -->
    <bean id="newsPaperTemplateProcess" class="com.examw.test.service.publish.impl.NewsPaperTemplateProcess" parent="templateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_paper_news}" />
         <!-- 考试数据接口 -->
        <property name="examDao" ref="examDao" />
        <!-- 最大显示试卷数量 -->
        <property name="maxPaperCount" value="${publish_templates_paper_news_hots_max}" />
    </bean>
    <!-- 最热考试列表模版处理 -->
    <bean id="hotsPaperTemplateProcess" class="com.examw.test.service.publish.impl.HotsPaperTemplateProcess" parent="newsPaperTemplateProcess">
        <!-- 模版名称 -->
        <property name="templateName" value="${publish_templates_paper_hots}" />
         <!-- 考试数据接口 -->
        <property name="examDao" ref="examDao" />
    </bean>
</beans>